%section.sign_in.container
  .row
    .form-horizontal
      = form_tag sessions_path, class: 'sign_in' do
        %header
          %h1 Sign in
        %fieldset
          = label_tag :email, "Email Address"
          = email_field_tag :email
          %br
          %br
          = label_tag :password
          = password_field_tag :password
          %br
          %br
        %fieldset.form-group.action
          %input(type="submit" value="Sign in" class="btn btn-default")
          = link_to "Forgot Password?", forgot_password_path
