%section.sign_in.container
  .row
    .form-horizontal{role: "form"}
      = bootstrap_form_tag url: sessions_path do |f|
        %header
          %h1 Sign in
        .form-group
          = label_tag :email, "Email Address", class: 'col-sm-2'
          = email_field_tag :email
          %br
          %br
        .form-group
          = label_tag :password, "Password", class: 'col-sm-2'
          = password_field_tag :password

          %br
        .form-group.action
          %input(type="submit" value="Sign in" class="btn btn-default")
          %br
          %br
          = link_to "Forgot Password?", forgot_password_path
