%article.video
  .container
    .row-fluid
      .video_large_cover.col-sm-7.col-sm-offset-1
        %img(src="#{@video.large_cover_url}")
      .video_info.col-sm-3
        %header
          %h3= @video.title
          %span Rating: 4.0/5.0
        %p= @video.description
        .actions
          %a.btn.btn-primary(href="#") Watch Now
          %a.btn.btn-primary(href="#") + My Queue
%section.reviews.container
  .row
    .span10.offset1
      %header
        %h3 User Reviews (#{@reviews.count})
      %ul
        - @reviews.each do |review|
          %article.review
            %li.row
              .span2
                %span Rating: #{review.rating} / 5
                %p by <a href="">#{review.user.full_name}</a>
              .span8
                %p= review.content
      / %form
      /   %fieldset
      /     %label Rate this video
      /     %select(name="")
      /       %option(value="5")
      /       %option(value="4")
      /       %option(value="3")
      /       %option(value="2")
      /       %option(value="1")
      /     %label Write Review
      /     %textarea.span6(name="" rows="6")
      /   %fieldset.actions.clearfix    

